
// sass --watch ./src/app.scss:./lib/app.css

@import "variables";
@import "mixins";

* {	margin: 0; padding: 0; border: 0; }

html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 18px;
	color: #404040;
	background: $green;
}

html, body {
	height: 100%;
}

.hidden {
	display: none;
}

#wrap {
	min-height: 100%;
	
	#wrap-inner {
		border-top: 5px solid lighten($green, 7%);
		overflow: auto;
		padding-bottom: $footer-height;
		text-align: center;
		
		h1 {
			font-family: 'Leckerli One', cursive;
			font-weight: normal;
			margin: 80px 0;
			font-size: 700%;
			letter-spacing: -0.04em;
			text-shadow: 0 5px 0 #49974d;
			a {
				color: #333;
			}
		}
		
		.available {
			color: $description-green;
			text-shadow: 0 1px 0 #4d9951;
			line-height: 1.1em;
			position: relative;
			margin: 0 auto;
			font-size: 120%;
			background: darken($green, 3%);
			padding: 8px 15px;
			@include border-radius(4px);
			max-width: 680px;
			a {
				line-height: 2em;
				margin-left: 1px;
				padding: 5px 6px;
				&.selected {
					background: #569e5a;
					@include border-radius(4px);
					color: #214924;
					cursor: text;
				}
				&:first-child {
					margin-left: 10px;
				}
			}
			span {
				position: relative;
				line-height: 2em;
				margin-left: 1px;
				padding: 5px 6px;
				color: lighten(#1C6220, 5%);
				& > span {
					@include rotate(10deg);
					background: none repeat scroll 0 0 #8E1010;
					border-radius: 4px 4px 4px 4px;
					color: #CCCCCC;
					font-size: 70%;
					left: 10px;
					line-height: 1em;
					padding: 1px 4px 3px;
					position: absolute;
					text-shadow: none;
					top: -10px;
				}
			}
		}
		
	}
	
}

.split-50 {
	position: relative;
	& > div {
		position: relative;
		float: left;
		width: 50%;
		text-align: right;
		&:first-child {
			text-align: left;
		}
	}
}

a {
	color: #1C6220;
	text-decoration: none;
	&:hover {
		color: darken($green, 35%);
	}
}

#about {
	position: relative;
	width: $playground-width;
	background: $pre-bg;
	margin: 20px auto;
	@include border-radius(4px);
	text-align: left;
	list-style-type: none;
	
	& > li {
		font-size: 115%;
		padding: 15px 10px 15px 55px;
		background: url("/img/arrow.png") 15px center no-repeat;
		
		&:nth-child(even) {
			background-color: darken($pre-bg, 3%);
		}
		
	}
	
	code {
		background: lighten($pre-bg, 5%);
		border: 1px solid $green;
		padding: 1px 5px;
		@include border-radius(4px);
	}
	
}

#playground {
	width: $playground-width;
	margin: 10px auto 20px;
	padding: 0 5%;
	text-align: left;
	
	.bg {
		font-family: Monaco, Consolas, "Lucida Console", monospace;
		margin: 5px 0 0;
		background: $pre-bg;
		padding: 1%;
		@include border-radius(4px);
	}
	
	h2 {
		font-weight: normal;
		padding: 30px 0 5px;
		color: darken($green, 22%);
		text-shadow: 0 1px 0 lighten($green, 15%);
	}
	
	#examples {
		
		#output {
			text-align: left;
		}
		
		& > div {
			width: ($playground-width - 10px) / 2;
			padding-left: 5px;
			
			&:first-child {
				padding: 0 5px 0 0;
			}
			
			pre {
				padding: 5px 10px 20px;
				font-size: 110%;
				line-height: 1.5em;
				border: none !important;
				white-space: pre-wrap;
				word-wrap: break-word;
				min-height: 200px;
				outline: none;
				.str {
					color: #034600;
				}
				&[contentEditable] {
					cursor: text;
				}
			}
			
			#run {
				position: absolute;
				bottom: 7px;
				right: 10px;
				background: #60b265;
				@include background-gradient(#8ad68e, #60b265);
			    border-color: #63a62f #63a62f #5b992b;
			    border-radius: 4px;
			    border-style: solid;
			    border-width: 1px;
			    box-shadow: 0 1px 0 0 #1b8120;
			    color: #fff;
			    font: bold 12px/1 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
			    padding: 6px 0 8px;
			    text-align: center;
			    text-shadow: 0 -1px 0 #1b8120;
			    width: 55px;
				cursor: pointer;
				&:active {
					background: #8ad68e;
					@include background-gradient(#60b265, #8ad68e);
				    box-shadow: 0 -1px 0 0 #1b8120;
				}
			}
			
		}
		
	}
	
}

#do-you-know {
	margin: 60px 20px 20px;
	font-size: 100%;
	color: darken($green, 30%);
	text-shadow: 0 1px 0 lighten(#73b977, 10%);
	p:first-child {
		font-size: 140%;
		color: #0D6317;
		letter-spacing: -0.1em;
	}
	strong {
		color: darken($green, 35%);
	}
}

.github {
	padding: 5px 0 5px 30px;
	background: url("/img/octocat.png") left center no-repeat;
	line-height: 24px;
}

.zip {
	padding: 5px 5px 5px 30px;
	background: url("/img/zip.png") left center no-repeat;
	line-height: 24px;
}

.twitter-follow-button {
	margin-left: 10px;
}

#follow-button {
	border: 1px solid #000 !important;
}

#footer {
	color: #333;
	font-size: 100%;
	margin: $footer-height * -1 auto 0;
	height: $footer-height;
	& > div {
		padding-top: 10px;
		text-align: left;
		&:first-child {
			text-align: right;
		}
		& > a {
			span {
				color: #3c8940;
			}
		}
	}
}

/* smaller */

@media screen and (max-width: 1000px) {
	
	#about {
		width: 90% !important;
	}
	
	#playground {
		width: 90% !important;
		
		#examples {
			& > div {
				float: none;
				width: 100% !important;
				padding: 0 !important;
			}
		}
		
		#source {
			width: 98% !important;
		}
		
	}
	
	#footer {
		width: 100% !important;
	}
	
}

@media screen and (max-width: 320px) {
	
	#wrap-inner h1 {
		font-size: 500% !important;
		margin: 40px 0 !important;
	}
	
	#about {
		width: 90% !important;
	}
	
	#playground {
		
		#source {
			width: 98% !important;
			& > div {
				float: none;
				width: 100% !important;
				text-align: left;
				line-height: 2.8em;
				overflow-x: hidden;
			}
		}
		
	}
	
	.me {
		font-size: 130% !important;
	}
	
}

ul.contrib {
	font-size: 90%;
	list-style-type: none;
	margin-left: 10px;
}

/* clearfix */

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix { display: inline }
* html .clearfix { height: 1% }
.clearfix { display: block }
