
// sass --watch ./src/app.scss:./lib/app.css

@import "variables";
@import "mixins";

* {	margin: 0; padding: 0; border: 0; }

html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 18px;
	color: #404040;
	background: $background;
}

html, body {
	height: 100%;
}

#wrap {
	min-height: 100%;
	
	#wrap-inner {
		border-top: 5px solid #7cbf7f;
		overflow: auto;
		padding-bottom: $footer-height;
		text-align: center;
		
		h1 {
			font-family: 'Leckerli One', cursive;
			font-weight: normal;
			color: #333;
			margin: 80px 0 60px;
			font-size: 700%;
			letter-spacing: -0.04em;
			@include text-shadow(0px 5px 0px #49974d);
		}
		
		.description {
			color: #b4ebb7;
			font-size: 140%;
			margin: 0 auto;
			line-height: 1.1em;
			@include text-shadow(0 1px 0 #4D9951);
		}
		
		.available {
			position: relative;
			margin-top: 10px;
			font-size: 120%;
			background: #62a966;
			padding: 15px 0;
			
			a {
				margin-left: 1px;
				padding: 5px 6px;
				
				&.selected {
					background: #569e5a;
					@include border-radius(4px);
					color: #214924;
					cursor: text;
				}
				
				&:first-child {
					margin-left: 5px;
				}
				
			}
			
		}
		
	}
	
}

a {
	color: #1c6220;
	text-decoration: none;
	
	&:hover {
		color: #214924;
	}
	
}

#footer {
	color: #333;
	font-size: 90%;
	position: relative;
	margin-top: $footer-height * -1;
	margin-left: auto;
	margin-right: auto;
	height: $footer-height;
	clear: both;
	width: 600px;
	
	& > div {
		float: left;
		width: 290px;
		text-align: left;
		padding-left: 5px;
		
		&:first-child {
			text-align: right;
			padding-right: 5px;
			line-height: 1em;
		}
		
		& > a {
			font-size: 180%;
			line-height: 1em;
			
			span {
				color: #3c8940;
			}
			
		}
		
	}
	
}

#playground {
	width: 910px;
	margin: 10px auto 20px;
	text-align: left;
	
	.bg {
		font-family: Monaco, Consolas, "Lucida Console", monospace;
		margin: 5px 0 0;
		background: #73b977;
		padding: 8px;
		@include border-radius(4px);
	}
	
	h2 {
		font-weight: normal;
		padding: 30px 0 5px;
		color: #115414;
		text-shadow: 0 1px 0 #5dc963;
	}
	
	.examples {
		position: relative;
		
		& > div {
			position: relative;
			float: left;
			width: 450px;
			padding-left: 5px;
		
			&:first-child {
				padding: 0 5px 0 0;
			}
			
			pre {
				font-family: Monaco, Consolas, "Lucida Console", monospace;
				margin: 5px 0 0;
				padding: 8px 8px 20px 8px;
				font-size: 110%;
				line-height: 1.5em;
				background: #73b977;
				border: none !important;
				white-space: pre-wrap;
				word-wrap: break-word;
				min-height: 200px;
				outline: none;
				@include border-radius(4px);
			
				.str {
					color: #034600;
				}
				
				&[contentEditable] {
					cursor: text;
				}
				
			}
			
			#run {
				position: absolute;
				bottom: 7px;
				right: 10px;
				background: #49974d;
				@include background-gradient(#8ad68e, #60b265);
			    border-color: #63a62f #63a62f #5b992b;
			    border-radius: 4px;
			    border-style: solid;
			    border-width: 1px;
			    box-shadow: 0 1px 0 0 #1b8120;
			    color: #fff;
			    font: bold 12px/1 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
			    padding: 6px 0 8px;
			    text-align: center;
			    text-shadow: 0 -1px 0 #1b8120;
			    width: 55px;
				cursor: pointer;
			}
			
		}
		
	}
	
}

.github {
	padding: 5px 0 5px 30px;
	background: url("/img/octocat.png") left center no-repeat;
	line-height: 24px;
}

.me {
	padding: 5px 0 5px 35px;
	background: url("/img/me.png") left center no-repeat;
	line-height: 24px;
}

/* clearfix */

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix { display: inline }
* html .clearfix { height: 1% }
.clearfix { display: block }
