
@mixin box-shadow($var) {
	-moz-box-shadow: $var;
	-webkit-box-shadow: $var;
	box-shadow: $var;
}

@mixin border-radius($var: 5px) {
	-moz-border-radius: $var;
	-webkit-border-radius: $var;
	border-radius: $var;
}

@mixin opacity($var: 100) {
	-moz-opacity: $var / 100;
	-khtml-opacity: $var / 100;
	opacity: $var / 100;
}

@mixin background-gradient($start: #f2f2f2, $finish: #cecece) {
	background: $start;
	background: -webkit-gradient(linear, left top, left bottom, from($start), to($finish));
	background: -moz-linear-gradient(top, $start, $finish);
}
