
// sass --watch ./src/app.scss:./lib/app.css

@import "variables";
@import "mixins";

* {	margin: 0; padding: 0; border: 0; }

html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 18px;
	color: #004406;
	background: $green;
}

html, body {
	height: 100%;
}

.hidden {
	display: none;
}

#wrap {
	min-height: 100%;
	
	#wrap-inner {
		border-top: 3px solid darken($green, 15%);
		overflow: auto;
		padding-bottom: $footer-height;
		text-align: center;
	}
	
}

/* general */

ul {
	list-style-type: none;
}

.section {
	background: $pre-bg;
	@include border-radius(4px);
	padding: 15px;
	
	&.lighten {
		background: lighten($pre-bg, 3%);
	}
	
	&.top-joined {
		padding-top: 10px;
		@include border-radius(0 0 4px 4px);
	}
	
	&.bottom-joined {
		padding-bottom: 10px;
		@include border-radius(4px 4px 0 0);
	}
	
}

button {
	background: #8ad68e;
    border-style: solid;
    box-shadow: 0 2px 0 0 #1b8120;
    color: #09680F;
    font: bold 13px/1 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    padding: 6px 12px;
    text-align: center;
	cursor: pointer;
	border-radius: 2px;
	&:active {
		background: #59A75E;
	    box-shadow: 0;
	}
}

h2 {
	font-weight: normal;
	padding: 30px 0 5px;
	color: darken($green, 22%);
	text-shadow: 0 1px 0 lighten($green, 15%);
	font-size: 1.5em;
}

.split-50 {
	position: relative;
	& > div {
		position: relative;
		float: left;
		width: 50%;
		text-align: right;
		&:first-child {
			text-align: left;
		}
	}
}

.split-70-30 {
	position: relative;
	& > div {
		position: relative;
		float: left;
		width: 30%;
		text-align: right;
		&:first-child {
			text-align: left;
			width: 70%;
		}
	}
}

a {
	color: #1C6220;
	text-decoration: none;
	&:hover {
		color: darken($green, 35%);
	}
}

/* minor */

.icon {
	padding: 5px 5px 5px 30px;
	background-position: left center;
	background-repeat: no-repeat;
	
	&.github { background-image: url("#{$public-img}/octocat.png"); }
	&.laravel { background-image: url("#{$public-img}/laravel.png"); }
	&.packagist { background-image: url("#{$public-img}/packagist.png"); }
	&.code-igniter { background-image: url("#{$public-img}/code_igniter.png"); }
	&.kohana { background-image: url("#{$public-img}/kohana.png"); }
	&.wordpress { background-image: url("#{$public-img}/wordpress.png"); }
	&.rubygem { background-image: url("#{$public-img}/ruby.png"); }
	&.npm { background-image: url("#{$public-img}/npm.png"); }
	&.meteor { background-image: url("#{$public-img}/meteor.png"); }
	&.godoc { background-image: url("#{$public-img}/godoc.png"); }
	&.nuget { background-image: url("#{$public-img}/nuget.png"); }
	&.pypi { background-image: url("#{$public-img}/pypi.png"); }
	
}

/* containers */

h1 {
	font-family: 'Leckerli One', cursive;
	font-weight: normal;
	margin: 90px 0 70px;
	font-size: 640%;
	letter-spacing: -0.04em;
	text-shadow: 0 5px 0 #49974d;
	a {
		color: #333 !important;
	}
}

#languages {
	position: relative;
	color: darken($green, 15%);
	text-shadow: 0 1px 0 #4d9951;
	margin: 0 auto;
	font-size: 110%;
	background: darken($green, 5%);
	padding: 0 15px;
	
	a {
		line-height: 3em;
		padding: 13px 10px;
		
		&:hover {
			background: #569e5a;
			color: #214924;
		}
		
		&.selected,
		&.selected:hover {
			background: #6AB06E;
			color: #214924;
			cursor: text;
		}
		
	}
	
	span {
		color: lighten($description-green, 5%);
		margin: 0 4px 0 6px;
		&:first-child {
			margin: 0 4px;
		}
	}
	
}

#page {
	max-width: $playground-width;
	text-align: left;
	margin: 0 auto;
}

#about {
	@include border-radius(4px);
	font-size: 120%;
	padding: 15px 10px 15px 55px;
	background: $pre-bg url("#{$public-img}/arrow.png") 15px center no-repeat;
	
	span {
		font-size: 85%;
		color: rgb(69, 124, 74);
	}
	
}

/* code */

pre {
	font-family: Monaco, Consolas, "Lucida Console", monospace;
	@include border-radius(4px);
	padding: 8px 12px !important;
	font-size: 14px;
	line-height: 1.5em;
	border: none !important;
	white-space: pre-wrap;
	word-wrap: break-word;
	min-height: 200px;
	outline: none;
	margin: 5px 0 0;
	
	&[contentEditable] {
		cursor: text;
	}
	
	&#output {
		color: #C2C9BC;
	}
	
	&.dark {
		background: #262626 !important;
		
		span.kwd { color: #669199 }
		span.pun { color: #ebefe7 }
		span.pln { color: #C2C9BC }
		span.str { color: #D9BF8C }
		span.typ { color: #B35E4D }
		span.lit { color: #C2B470 }
	}
	
	&.light {
		background: #eee;
		margin: 0 0 15px 0;
		min-height: inherit;
		
		span.str { color: #034600; }
		span.com { color: #107020; }
	}
	
}

/* footer */

#footer {
	position: relative;
	color: #333;
	font-size: 100%;
	margin: ($footer-height * -1) auto 0;
	
	.split-50 {
		height: 180px;
		max-width: $playground-width;
		margin: 0 auto;
		padding-top: 50px;
		
		.contact {
			@include border-radius(4px);
			text-align: right;
			font-size: 110%;
			padding: 15px;
			background: $pre-bg;
			line-height: 1.6em;
			
			&:first-line {
				font-size: 130%;
			}
		}
		
		.social {
			margin: 15px 0;
			text-align: right;
			
			& > div {
				margin: 5px 0;
			}
			
			.twitter-share-button {
				width: 81px !important;
			}
		}
		
		#contributors {
			font-size: 105%;
			text-align: left;
			padding-left: 1%;
			width: 49%;
			
			ul {
				font-size: 100%;
				list-style-type: none;
				margin-left: 10px;
				
				li {
					margin-bottom: 5px;
				}
				
			}
			
		}
		
	}
	
	#copyleft {
		text-align: center;
		color: darken(#3c8940, 5%);
		padding: 15px 0;
		border-top: 1px solid darken($green, 5%);
	}
	
}

/* playground */

#playground {
	
	#examples {
		
		#output {
			text-align: left;
		}
		
		& > div {
			width: ($playground-width - 10px) / 2;
			padding-left: 5px;
			
			&:first-child {
				padding: 0 5px 0 0;
			}
			
			#run {
				position: absolute;
				bottom: 13px;
				right: 16px;
			}
			
		}
		
	}
	
}

/* source */

#source {
	
	#lib .github {
		font-family: Monaco, Consolas, "Lucida Console", monospace;
		font-size: 105%;
		line-height: 1.9em;
	}
	
	#links {
		padding: 20px 15px 5px 15px;
		
		p {
			color: darken($green, 7%);
			text-shadow: 1px 1px 0 rgb(146, 201, 141);
			font-size: 90%;
			font-weight: bold;
			text-transform: uppercase;
			margin: 0 0 10px 30px;
		}
		
		ul {
			position: relative;
			
			li {
				float: left;
				width: ($playground-width - 200px) / 3;
				margin: 0 15px 15px 0;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				
				font-size: 110%;
				padding-left: 30px;
				
				&.icon {
					background-position: 7px 6px !important;
				}
				
				a {
					display: block;
					
					span {
						color: darken($green, 12%);
						font-size: 85%;
					}
					
				}
				
			}
			
		}
		
	}
	
}

/* documentation */

#documentation {
	position: relative;
	margin: 5px 0 0;
	padding: 15px;
	background: #e2e2e2;
	@include background-transition(250ms);
	@include border-radius(4px);
	font-size: 105%;
	
	&:not(.section) {
		color: #000;
	}
	
	&.section {
		background: $pre-bg;
		
		code {
			background: $green;
		}
		
	}
	
	h3 {
		color: #fff;
		font-weight: normal;
		font-size: 200%;
		margin: 30px 0 25px;
		text-transform: lowercase;
	}
	
	p {
		margin: 0 0 15px 0;
	}
	
	a {
		color: rgb(0, 129, 214);
		&:hover {
			text-decoration: underline;
		}
	}
	
	code {
		@include border-radius(4px);
		@include background-transition(250ms);
		color: #000;
		background: #eee;
		padding: 1px 4px;
		font-weight: bold;
	}
	
}

/* smaller */

@media screen and (max-width: 1000px) {
	
	#playground {
		
		#examples {
			& > div {
				float: none;
				width: 100% !important;
				padding: 0 !important;
			}
		}
		
		#source {
			word-wrap: break-word;
			//width: 98% !important;
		}
		
	}
	
	#footer {
		width: 100% !important;
	}
	
}

/* clearfix */

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix { display: inline }
* html .clearfix { height: 1% }
.clearfix { display: block }
